body{
    background-color: var(--quinary-color);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(../Resources/Images/background.jpeg);
    background-size: cover;
    background-position: center;
}
header{
    width: 100vw;
    height: var(--header-height);
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5px;
}
iframe[name="mainFrame"]{
    width: 100vw;
    height: calc(100vh - var(--header-height));
}
#logo{
    height: var(--header-height);
}
aside{
    width: var(--aside-width);
    height: calc(100vh - var(--header-height));
    position: fixed;
    top: var(--header-height);
    right: 0;
    transform: translateX(100%);
    transition: all 300ms ease;
    background-color: var(--secondary-color);
    z-index: 20;
}
#cubrePantalla{
    width: 100vw;
    height: calc(100vh - var(--header-height));
    position: fixed;
    top: var(--header-height);
    right: 0;
    transform: translateX(100%);
    transform: all 300ms ease;
}
#openAside{
    width: calc(var(--header-height) - 50px);
    height: calc(var(--header-height) - 50px);
    background-color: transparent;
    border: 2px solid var(--quinary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
#openAside span{
    width: calc(var(--header-height) - 60px);
    height: 0px;
    border: 2px solid var(--quinary-color);
    display: block;
}
aside nav ul{
    list-style: none;
    font-size: larger;
}
aside nav ul li, aside nav ul li a{
    width: 100%;
    height: 50px;
    text-decoration: none;
    color: var(--quinary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
aside nav ul li a{
    display: block;
    padding: 0 0 0 10px;
    display: flex;
    text-align: center;
    align-items: center;
}
#cubrePantalla{
    z-index: 10;
    background-color: #0000004d;
}
#logoImg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: var(--quinary-color);
    font-family: Arial, Helvetica, sans-serif;
}
#logoImg img{
    margin: 0 10px 0 0;
}