@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --header-height: 100px;
    --aside-width: 90vw;
    --primary-color: #050D1AFF;
    --secondary-color: #15273FFF;
    --tertiary-color: #456685FF;
    --quaternary-color: #B3C4D4FF;
    --quinary-color: #FDF8F5FF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 