@font-face {
    font-family: 'Inconsolata';
    src: url(./Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(./Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Orbitron';
    src: url(./Orbitron/Orbitron-VariableFont_wght.ttf);
}